.file-preview-container{
  min-height:100vh;
  padding:30px;
  background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #334155
  );
  color:white;
}

.preview-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:20px;
  margin-bottom:30px;
}

.preview-header h1{
  font-size:38px;
  margin-bottom:8px;
}

.preview-header p{
  color:#cbd5e1;
}

.back-btn{
  border:none;
  padding:12px 20px;
  border-radius:12px;
  background:#2563eb;
  color:white;
  cursor:pointer;
  font-weight:600;
}

.preview-card{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  border-radius:20px;
  padding:30px;
  text-align:center;
  margin-bottom:30px;
}

.file-banner{
  width:100px;
  height:100px;
  margin:auto;
  background:#2563eb;
  border-radius:20px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:50px;
  margin-bottom:20px;
}

.preview-card h2{
  margin-bottom:25px;
}

.file-details{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.detail-box{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
}

.detail-box span{
  color:#94a3b8;
  display:block;
  margin-bottom:10px;
}

.preview-viewer{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  border-radius:20px;
  padding:30px;
  margin-bottom:30px;
}

.preview-viewer h2{
  margin-bottom:20px;
}

.preview-placeholder{
  min-height:350px;
  border:2px dashed #475569;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.preview-icon{
  font-size:70px;
  margin-bottom:15px;
}

.preview-placeholder p{
  color:#cbd5e1;
  margin-top:10px;
}

.action-section{
  display:flex;
  gap:20px;
}

.download-btn,
.share-btn{
  flex:1;
  padding:15px;
  border:none;
  border-radius:15px;
  color:white;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:.3s;
}

.download-btn{
  background:#16a34a;
}

.share-btn{
  background:#2563eb;
}

.download-btn:hover,
.share-btn:hover{
  transform:translateY(-4px);
}

@media(max-width:768px){

  .file-preview-container{
    padding:15px;
  }

  .preview-header{
    flex-direction:column;
    text-align:center;
  }

  .preview-header h1{
    font-size:28px;
  }

  .action-section{
    flex-direction:column;
  }

  .preview-placeholder{
    min-height:250px;
  }

}